<a href="https://colab.research.google.com/github/chikiplayer/bootcamp_projects/blob/main/API_assignment.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Spotify API ‚≠ê

**source:** https://rapidapi.com/Glavier/api/spotify23

In [ ]:
import requests
import time
import pandas as pd

artists = []
tracks = []
albums = []

nums = range(10)
for num in nums:
    url = "https://spotify23.p.rapidapi.com/search/"

    querystring = {
        "q":"maroon 5",
        "type":"multi",
        "limit":"10",
        "numberOfTopResults":"5"
        }


    headers = {
        "X-RapidAPI-Key": "57de1fa66emsh27fc48defc01930p1a26b7jsn28b97b44ed4f",
        "X-RapidAPI-Host": "spotify23.p.rapidapi.com"
    }

    response = requests.request("GET", url, headers=headers, params=querystring)
    result = response.json()

    tagresult = result['tracks']['items'][num]['data']

    artists.append(tagresult['artists']['items'][0]['profile']['name'])
    time.sleep(2)
    albums.append(tagresult['albumOfTrack']['name'])
    time.sleep(2)
    tracks.append(tagresult['name'])
    time.sleep(2)


df = pd.DataFrame({
    "artist": artists,
    "album": albums,
    "track": tracks
})
#print(result['artists']['items'][0]['data']['profile']['name'])
#print(result['tracks']['items'][0]['data']['artists']['items'][0]['profile']['name'])
#print(result['tracks']['items'][0]['data']['name'])

In [ ]:
df.sort_values('album',ascending=True)

,artist,album,track
9,Maroon 5,Hands All Over,"Moves Like Jagger - Studio Recording From ""The..."
8,Maroon 5,Hands All Over (Deluxe),Misery
2,Maroon 5,JORDI (Deluxe),Memories
5,Maroon 5,JORDI (Deluxe),Beautiful Mistakes (feat. Megan Thee Stallion)
6,Maroon 5,Overexposed (Deluxe),One More Night
1,Maroon 5,Songs About Jane,She Will Be Loved
3,Maroon 5,Songs About Jane: 10th Anniversary Edition,This Love
0,Maroon 5,V,Maps
4,Maroon 5,V,Sugar
7,Maroon 5,V,Animals