<a href="https://colab.research.google.com/github/chikiplayer/bootcamp_projects/blob/main/simpleML_model.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# ML model using  sklearn

Try to build simple ML model using Regression/Classification sklearn <br>
**Source:** https://www.kaggle.com/datasets/iamsouravbanerjee/house-rent-prediction-dataset

## Read Data

In [ ]:
import pandas as pd
import numpy as np

from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split 



# read data
df = pd.read_csv("House_Rent_Dataset.csv")
# print(df.isnull().sum())
print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4746 entries, 0 to 4745
Data columns (total 12 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Posted On          4746 non-null   object
 1   BHK                4746 non-null   int64
 2   Rent               4746 non-null   int64
 3   Size               4746 non-null   int64
 4   Floor              4746 non-null   object
 5   Area Type          4746 non-null   object
 6   Area Locality      4746 non-null   object
 7   City               4746 non-null   object
 8   Furnishing Status  4746 non-null   object
 9   Tenant Preferred   4746 non-null   object
 10  Bathroom           4746 non-null   int64
 11  Point of Contact   4746 non-null   object
dtypes: int64(4), object(8)
memory usage: 445.1+ KB
None

## Prepare Data

In [ ]:
df.columns

Index(['Posted On', 'BHK', 'Rent', 'Size', 'Floor', 'Area Type',
       'Area Locality', 'City', 'Furnishing Status', 'Tenant Preferred',
       'Bathroom', 'Point of Contact'],
      dtype='object')

In [ ]:
# clean column names
cols = df.columns
clean_cols = [col.lower().replace(" ", "_") for col in cols]

print(clean_cols)
df.columns = clean_cols

['posted_on', 'bhk', 'rent', 'size', 'floor', 'area_type', 'area_locality', 'city', 'furnishing_status', 'tenant_preferred', 'bathroom', 'point_of_contact']

In [ ]:
df.head(5)

,posted_on,bhk,rent,size,floor,area_type,area_locality,city,furnishing_status,tenant_preferred,bathroom,point_of_contact
0,2022-05-18,2,10000,1100,Ground out of 2,Super Area,Bandel,Kolkata,Unfurnished,Bachelors/Family,2,Contact Owner
1,2022-05-13,2,20000,800,1 out of 3,Super Area,"Phool Bagan, Kankurgachi",Kolkata,Semi-Furnished,Bachelors/Family,1,Contact Owner
2,2022-05-16,2,17000,1000,1 out of 3,Super Area,Salt Lake City Sector 2,Kolkata,Semi-Furnished,Bachelors/Family,1,Contact Owner
3,2022-07-04,2,10000,800,1 out of 2,Super Area,Dumdum Park,Kolkata,Unfurnished,Bachelors/Family,1,Contact Owner
4,2022-05-09,2,7500,850,1 out of 2,Carpet Area,South Dum Dum,Kolkata,Unfurnished,Bachelors,1,Contact Owner

In [ ]:
print(f"Rows: {df.shape[0]}\nColumns: {df.shape[1]}")
print("House rent price has value between {} and {}.".format(df["rent"].max(), df["rent"].min()))

Rows: 4746
Columns: 12
House rent price has value between 3500000 and 1200.

## Train Test Split

In [ ]:
# Add Log to price data
x = df[['rent']]
y = np.log(df.rent)

In [ ]:
# split data 70% for train data set
x_train, x_test, y_train, y_test = train_test_split(  
	x, y, test_size = 0.3, random_state = 42 
)
print(x_train.shape)
print(x_test.shape)

(3322, 1)
(1424, 1)

## Predict New Data (Scoring)

In [ ]:
# train model
li_model = LinearRegression()
li_model.fit(x_train, y_train)


# test model
p = li_model.predict(x_test)
print(p)

[ 9.75129367  9.72458439  9.83142152 ...  9.76798697 10.44573498
  9.76130965]

## Model Evaluation

In [ ]:
# model evaluation
test_r2 = li_model.score(x_test, y_test)
print(f"R squared : {test_r2}")

R squared : 0.468948540725477

In [ ]:
from sklearn.ensemble import RandomForestRegressor
rdforest_model = RandomForestRegressor()
rdforest_model.fit(x_train, y_train)
rdforest_model.predict(x_test)
rdforest_model.score(x_test, y_test)

0.9999437225145877